<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- About me section begins below. This is a comment. -->

    <h1>My name is Gurvir Dua!</h1>

    <h2>I am a Senior at the University of Maryland.</h2>
    <h2>I am currently majoring in Information Systems and Finance.</h2>

    <p>In my free time, I <strong>love</strong> to watch <strong>sports,</strong> listen to music, and watch movies.</p>
    <p>I grew up in <em>Maryland,</em> and have lived here <em>my entire life.</em></p>

    <p>Some of my favorite movies are:</p>
    <ul>
        <li>Interstellar</li>
        <li>Dune</li>
        <li>Seven</li>
        </ul>

    <p>My favorite sports are:</p>
    <ol>
        <li>Football</li>
        <li>Soccer</li>
        <li>Basketball</li>
    </ol>
    <!-- Table with courses and relative semester below. This is a comment. -->
    <table>
        <tr>
            <th>Course Taken</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>BMGT340</td>
            <td>Fall 2021</td>
        </tr>
        <tr>
            <td>BMGT440</td>
            <td>Fall 2022</td>
        </tr>
        <tr>
            <td>BMGT403</td>
            <td>Fall 2022</td>
        </tr>

    </table>
    <!-- Three links below, one of which opens in a new tab. This is a comment. -->

    <p>A link to the <a href="hello">hello route</a>.</p>
    <p>My favorite websites are <a href="https://youtube.com" target="_blank">YouTube</a> and <a href="https://espn.com"> ESPN</a>.</p>

    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width ="267" height ="72" alt="Smith School">
</body>

</html>